*{
    margin: 0;
    padding: 0;
}
header{
    background-color:  #39ac39;
    margin-bottom: 2px;
    padding: 0;
    text-align: center;

}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

#cbtn{
    background-color: #39ac39;
    color: #000;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 1em;
    margin-left: -15px;
    transition: 0.3s;
}

#cbtn:hover{
    margin-left: 0px;
    transition: 0.3s;
    background-color: #47cd47;
}




#map{
    width: 500px;
    height: 450px;
    background-color: #ddd;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* border: solid 5px #fff; */
}

.inner-sec{
    border: solid 4px #fff;
}

#gps-data{
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

#location{
    width: 500px;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* #pinOut{
    width: 500px;
    background-color: #ddd;
    display: flex;
    
} */

#destination{
    width: 500px;
    height: 30px;
    background-color: #ddd;
    padding-top: 5px;
}

.starter{
    display: flex;
    flex-direction: column;
    width: 280px;
    color: #fff;
    background-color: #39ac39;
    margin-left: 0px;
    padding: 5px;
    height: 200px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.m-btn{
    width: 160px;
    font-size: 1em;
    color: #000;
    padding: 6px;
    outline: none;
    border: none;
    cursor: pointer;    
    border: 1px solid #39ac39;

}

.m-btn:hover{
    background-color: #4dcf4d;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s;
}

#dirBtn{
    width:fit-content;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 30px;
    outline: none;
    border: none;
    align-items: center;
    pointer-events: none;
}

#dirBtn:hover{
    background-color: #666;
    color: #fff;
}

.dir-method{
    outline: none;
    border: none;
    cursor: pointer;
    pointer-events: none;
}

.dir-method:hover{
    background-color: #666;
    color: #fff !important;  
}



#startBtn{
    color: #000;
    background-color: #ddd;
    width: 100px;
    height: 25px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    pointer-events: none;
}

#startBtn:hover{
    color: #000;
    /* transform: translate(2px,-2px); */
    background-color: #eee;

}

select#tdist{
    outline: none;
    border: none;
    width: 70px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    border: #39ac39;
    background-color: #ddd;
    cursor: pointer;
    pointer-events: none;
}

select#tdist:hover{
    background-color: #eee;
    cursor:pointer;
}

.method{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.method button{
    margin: 4px;
    background-color: #ddd;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 2px 7px;
    text-align: center;
    color: #000;
    border: 1px solid #47cd47;
    cursor: pointer;
}

.method button:hover{
    border: 1px solid #fff;
    background-color: #fff;
}

.info{
    background-color: #39ac39;
    width: 220px;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 200px;
    width: 280px;
    padding-right: 5px;
    font-size: 1.2em;
    justify-content: space-around;
}

.idiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    
}

.bi-check2-circle{
    display: ;
}

.done{
    background-color: #eee;
    text-align: center;
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 3px solid #39ac39;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: -50%;
    transform:translate(-50%,-50%);
    visibility: visible;
}

.done>*{
    margin-top: ;
}

.done>.f-info{
    font-size: 1.3em;
}

.done>.f-info>span{
    font-size: 1.4em;
}

.done>.f-btn{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.done>.f-btn>button{
    margin-top: 20px;
    width: 70px;
    font-size: 1.2em;
    /* position: relative;
    left: 50%;*/
    text-align: center; 
    /* margin-left: -35px; */
    cursor: pointer;
    border: solid 2px #eee;
    background-color: #39ac39;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    /* transition: translateX(-50%); */
}

h4{
    font-size: 1.2em;
}

.bi{
    font-size: 1.7em;
}

/* .done-btn{
    margin-top: 20px;
    width: 70px;
    font-size: 1.2em;
    position: relative;
    left: 50%;
    text-align: center; 
    margin-left: -35px;
    cursor: pointer;
    border: solid 2px #eee;
    background-color: #39ac39;
    color: #fff;
    height: 30px;
    border-radius: 20px;
    transition: translateX(-50%);
} */

.done>.f-btn>button:hover{
    background-color: #fff;
    border: solid 2px #39ac39;
    color: #39ac39;
    transition: 0.5s;
}

.x-div{
    width: 100%;
    height: 100%;
    opacity: .4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    /* visibility: hidden; */
    display: none;
}

/*.inner-sec{
    display: flex;
    flex-direction: row;
    background-color: #;
    justify-content: space-between;
    width: 80%;
}*/
